.playableContainer {
	display: flex; 	/*forces children to be horizontal*/
	justify-content: space-evenly;
}

.cpuTally, .playerTally {
	border: 1px solid black;
	height: 100px;
	width: 100px;
}

.dealtContainer, .cpuInfo, .playerInfo{
	display: flex;
	justify-content: space-evenly;
}