body {
	background-color: green;
	border: solid black 5px;
	height: 80vh;;
	width: 80vw;
	margin: auto;
	margin-top: 5vh;
}

.playableContainer {
	display: flex; 	/*forces children to be horizontal*/
	justify-content: space-between;
	border: 1px solid black;
	width: 400px;
	margin: auto;
	background-image: url("card-deck-css/images/image.jpeg");
	background-size: 100% 100%;
	border-radius: 20%;
}

.cpuTally, .playerTally {
	border: 1px solid black;
	height: 100px;
	width: 100px;
}

.dealtContainer, .cpuInfo, .playerInfo{
	display: flex;
	justify-content: space-evenly;
}

.inPlayCards, .dealtContainer {
	margin: auto;
	margin-top: 15vh;
}

.cpuInPlayContainer, .playerInPlayContainer {
	margin-top: 40px;
}

.gamePlay {
	display: flex;
	flex-direction: column;
	color: black;
}

.gamePlay:hover {
	font-size: large;
}
